rasterio
fiona
pyproj
geopandas
shapely
opencv-python
scikit-learn
scikit-image
gradio
folium
matplotlib
numpy
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
timm
einops
huggingface_hub
